<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMoBMRdeXhjPoLr0A09NA1eJovHpL4SZo</string>
	<key>GCM_SENDER_ID</key>
	<string>179050486403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamHY2.HongikYeolgong2</string>
	<key>PROJECT_ID</key>
	<string>hongikyeolgong2-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hongikyeolgong2-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179050486403:ios:a1f66560cfb6ce850219b6</string>
</dict>
</plist>